#form {
    background: #7ec9e0c7;
    width: 400px;
    min-height: 200px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 60px;
    border-radius: 20px; 
}

.form__item {
    padding: 18px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.form__btn {
    background: #ffa344;
    color: #fff;
    cursor: pointer;
    border: 1px solid transparent;
    transition: ease 0.3s;
}

.form__btn:hover {
    background: #ffbb76;
    color: #fff;
    border: 1px solid #ffa344
}

.status {
    color: #0000008c;
    text-align: center;
}